@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');

* {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(0, 0, 0);
}

.blog-page-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
}

/* Navbar */
.navbar-area {
    width: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
    /* overflow: hidden; */
    align-content: center;
}
  
.navbar-area a {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    float: right;
}
  
.navbar-area a:hover {
    color: rgb(22, 21, 21);
    background-color: rgba(255, 255, 255);
}
  
.navbar-area a.active {
    background-color: rgb(68, 193, 159);
    color: white;
}

/* Header */
header {
    width: 100%;
    margin: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 100px;
    color: rgb(68, 193, 159);
    font-weight: 700;
}

header h2 {
    color:rgb(40, 128, 105);
    font-size: 30px;
}

header p {
    font-size: 24px;
    text-align: left;
}


a {
    font-size: 22px;
    transition: all .0.7s;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.troy-abed-submarine {
    max-width: fit-content;
    width: 100%;
    margin: 0;
}

/* Main */
main {
    margin: 30px 15px 0px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
  
  
.main-buttons {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: 400;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}
  
.main-buttons:hover {
    background-color: rgb(68, 193, 159);
    transition: all 0.5s;
    text-decoration: none;
    cursor: pointer;
}
  
/* Blog page */
.blog-title {
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.blog-post {
    height: 100%;
    max-height: 580px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    box-sizing: none;
}

.blog-post:hover {
    transition: all 0.5s;
}

.blog-post:hover img {
    transform: scale(1.1);
    transition: all 0.4s;
}

.blog-text-card {
    width: 100%;
    padding: 10px 5px;
    position: absolute;
    left: 0;
    bottom: -45px;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0.4) 100%);
    transition: all 0.5s;
}

.blog-post:hover .blog-text-card {
    bottom: 0;
    transition: all .5s;
}

.blog-text-card h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.blog-text-card h3 span {
    display: block;
    font-size: 60%;
    margin-top: 5px;
    font-weight: 600;
    color: rgba(52, 73, 94,1.0)
}

.blog-text-card a {
    font-weight: 500;
    font-size: 14px;
}

.blog-text-card .main-buttons {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: 400;
}

.blog-text-card .main-buttons:hover {
    background-color: rgb(68, 193, 159);
    transition: all .5s;
    text-decoration: none;
}


.blog-text-content a:hover {
    text-decoration: underline;
}

.post-img {
    width: 30%;
    transition: all 0.7s;
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

/* Section */
section {
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}

section p {
    font-size: 24px;
    text-align: center;
}

.author-text {
    font-size: 14px;
    text-align: center;
}

/* Media queries */
@media (max-width:992px) {
  main {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
}
@media (max-width:767px) {
  main {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
}
  header { 
    width: 95%;
  }

  .blog-text-card {
    bottom: 0;
  }
}
@media (max-width:500px) {

    main {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Footer */
footer {
    text-align: center;
    width: 100%;
    margin: 0;
}

/* Coming soon page */
.coming-soon-text {
    text-align: center;
    font-size: 24px;
}

